<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/resources/css/test.css}" rel="stylesheet" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>Student Registration</title>
</head>

<body>

	
    <div id="testheader">
        <div class="container">
            <div class=row>        
                <div class="col-md-5 ">
            <a href="USR001.jsp"><h3>User Registration</h3></a>
        </div>  
        <div class="col-md-6" style="color:black;">
            
            <p>
            	User Name:<span th:if = "${session.userdata!=null}" th:text="${session.userdata}"></span>
            </p>
            <p>Current Date :<span th:text="${session.date}"></span></p>
        </div>    
        <div class="col-md-1" >
            <input type="button" class="btn-basic" id="lgnout-button" value="Log Out" onclick="location.href='logout'">
        </div>        
    </div>
</div>

</div>
    <!-- <div id="testsidebar">Hello World </div> -->
    <div class="container">
    <div class="sidenav">
        
        <button class="dropdown-btn" > Class Management <i class="fa fa-caret-down"></i></button>
        
            <div class="dropdown-container">
          <a href="/setupaddcourse">Course Registration </a>
          <a href="/setupaddstudent">Student Registration </a>
          <a href="/students">Student Search </a>
        </div>
        <a href="/user">Users Management</a>
      </div>
      <div class="main_contents">
    <div id="sub_content">
    
    <h4 style="color:green;" th:text="${success}" ></h4>
    
    
        <form action="/addstudent" method="post" th:object="${student}">

            <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Student Registration</h2>
                   
             <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="studentID" class="col-md-2 col-form-label">Student ID</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:field="*{studentId}" readOnly/>
                    <p  th:if="${#fields.hasErrors('studentId')}" style="color:red;" >
  						Invalid StudentID</p>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="name" class="col-md-2 col-form-label">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:field="*{studentName}" />
                    <p  th:if="${#fields.hasErrors('studentName')}" style="color:red;" >
  						StudentName is required</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="dob" class="col-md-2 col-form-label">DOB</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" th:field="*{dob}"/>
                    <p  th:if="${#fields.hasErrors('dob')}" style="color:red;" >
  						DOB is required</p>
                </div>
            </div>
            <fieldset class="row mb-4">
                <div class="col-md-2"></div>
                <legend class="col-form-label col-md-2 pt-0">Gender</legend>
                <div class="col-md-4">
                    <div class="form-check-inline">
                        <input type="radio"  class="form-check-input" th:field="*{gender}" value="Male" id="gridRadios1" />
                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio"  class="form-check-input" th:field="*{gender}" value="Female" id="gridRadios1" />
                        <label class="form-check-label" for="gridRadios2">
                            Female
                        </label>                       
                    </div>                    
    					<p  th:if="${#fields.hasErrors('gender')}" style="color:red;" >
  						 Gender is required</p>
                </div>
            </fieldset>
    
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="phone" class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:field="*{phone}" id="phone" />
                    <p  th:if="${#fields.hasErrors('phone')}" style="color:red;" >Phone is required</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="education" class="col-md-2 col-form-label">Education</label>
                <div class="col-md-4">
                    <select class="form-select" aria-label="Education" th:field="*{education}">                                    
                        <option value="Diploma in IT">Diploma in IT</option>
                        <option value="Bachelor of Computer Science">Bachelor of Computer Science</option>
    					<option value="Bachelor of Information Technology">Bachelor of Information Technology</option>
                    </select>
                    <p th:if="${#fields.hasErrors('education')}" style="color:red;">Education is required</p>
                </div>
            </div>
            <fieldset class="row mb-4">
                <div class="col-md-2"></div>
                <legend class="col-form-label col-md-2 pt-0">Attend</legend>
    
                <div class="col-md-4"> 					
						<div class="form-check-inline col-md-2" th:each="data: ${courselist}">
							<input type="checkbox" class="form-check-input" th:field="*{course}" id="gridRadios1" th:value="${data.courseId}" /> 
							<label class="form-check-label" for="gridRadios1" th:value="${data.courseId}" th:text="${data.courseName}"></label>
						<p  th:if="${#fields.hasErrors('course')}" style="color:red;" >
  						Attend  is required</p>
						</div>
										
                </div>
            </fieldset>
           
    
            <div class="row mb-4">
                <div class="col-md-4"></div>
    
                <div class="col-md-4">                
               <a class="btn btn-danger mb-3" th:href="@{/resetStudent}">Reset</a> 
                                                         
                <input type="submit" value ="Add" name="addUser" class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">    
                </div>
            </div>    
       </form>
    </div>
</div>
</div>
        <div id="testfooter">
            <span>Copyright &#169; ACE Inspiration 2022</span>
        </div>
        <script>
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;
            
            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
              } else {
              dropdownContent.style.display = "block";
              }
              });
            }
            </script>
</body>

</html>